/* default */
* {
	-GtkArrow-arrow-scaling: 0.7;
	-GtkButton-child-displacement-x: 1;
	-GtkButton-child-displacement-y: 1;
	-GtkButton-default-border: 0;
	-GtkButton-image-spacing: 0;
	-GtkButton-interior-focus: true;
	-GtkButton-inner-border: 3;
	-GtkCheckButton-indicator-size: 16;
	-GtkCheckMenuItem-indicator-size: 14;
	-GtkEntry-inner-border: 2;
	-GtkEntry-progress-border: 0;
	-GtkExpander-expander-size: 8;
	-GtkHTML-link-color: @link_color;
	-GtkIMHtml-hyperlink-color: @link_color;
	-GtkMenu-horizontal-padding: 0;
	-GtkMenu-vertical-padding: 0;  
	-GtkMenuBar-internal-padding: 0;
	-GtkMenuItem-arrow-scaling: 0.7;
	-GtkNotebook-tab-overlap: 1;
	-GtkPaned-handle-size: 6;
	-GtkProgressBar-min-horizontal-bar-height: 10;
	-GtkProgressBar-min-vertical-bar-width: 10;
	-GtkRange-trough-border: 1;
	-GtkRange-slider-width: 11;
	-GtkRange-stepper-size: 13;
	-GtkRange-trough-under-steppers: 1;
	-GtkRange-stepper-spacing: 0;
	-GtkScale-trough-border: 0;
	-GtkScrollbar-activate-slider: 1;
	-GtkScrollbar-trough-border: 0;
	-GtkScrollbar-slider-width: 11;
	-GtkScrollbar-min-slider-length: 31;
	-GtkScrolledWindow-scrollbar-spacing: 0;
	-GtkScrolledWindow-scrollbars-within-bevel: 1;
	-GtkSeparatorMenuItem-horizontal-padding: 0;
	-GtkStatusbar-shadow-type: none;
	-GtkTextView-error-underline-color: @error_color;
	-GtkToolButton-icon-spacing: 6;
	-GtkToolItemGroup-expander-size: 11;
	-GtkToolbar-internal-padding: 0;
	-GtkTreeView-expander-size: 4;
	-GtkTreeView-vertical-separator: 0;
	-GtkWidget-wide-separators: true;
	-GtkWidget-separator-width: 2px;
	-GtkWidget-separator-height: 2;
	-GtkWidget-focus-padding: 0;
	-GtkWidget-focus-line-width: 1px;
	-GtkWidget-link-color: @link_color;
	-GtkWidget-visited-link-color: @link_color;
	-GtkWindow-resize-grip-default: false;
	-GtkWindow-resize-grip-width: 0;
	-GtkWindow-resize-grip-height: 0;
	-WnckTasklist-fade-overlay-rect: 0;

	border-width: 1px;

	engine: unico;

	-unico-focus-border-color: alpha (@selected_bg_color, 0.5);
	-unico-focus-border-radius: 3;
	-unico-focus-fill-color: alpha (@selected_bg_color, 0.1);
	-unico-focus-outer-stroke-color: @transparent;

	-unico-inner-stroke-color: shade (@bg_color, 1.1);
	-unico-inner-stroke-width: 0;
}

GtkWindow {
	color: @fg_color;
}

* {
	/* inherit the color from parent by default */
	color: inherit;
	background-color: @bg_color;
}

/**********
 * states *
 **********/
*:insensitive {
	color: shade (@bg_color, 0.6);
	text-shadow: 0 1 alpha (shade (@bg_color, 1.25), 0.5);
}

*:active {
	background-color: shade (@bg_color, 0.915);
}

*:active:hover:insensitive {
}

*:active:insensitive {
}

*:hover {
}

*:hover:insensitive {
}

*:selected,
*:selected:focused {
	background-color: @selected_bg_color;
	color: @selected_fg_color;
}

*:selected:backdrop,
*:selected:focused:backdrop {
	background-color: @backdrop_selected_bg_color;
	color: @backdrop_selected_fg_color;
}

/******************
 * common effects *
 ******************/
/* border and inner stroke */
.button,
.frame,
.notebook {
	border-style: solid;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.7)),
		to (shade (@bg_color, 0.7)));
}

.frame,
.notebook {
	-unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.2);
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 1px;
}

.button:insensitive,
.frame:insensitive,
.notebook:insensitive {
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.8)),
		to (shade (@bg_color, 0.8)));
}

/* inset */
GtkComboBox.combobox-entry .button,
.button:active,
.button:insensitive,
.check,
.entry,
.radio {
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.85), 0.2)),
		to (alpha (shade (@bg_color, 1.18), 0.6)));
	-unico-outer-stroke-width: 1px;
}

/* shadow */
.button,
.check:active,
.frame,
.notebook .button,
.notebook,
.radio:active {
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.05)),
		to (alpha (shade (@bg_color, 0.05), 0.09)));
	-unico-outer-stroke-width: 1px;
}
/*
.button:hover,
.notebook .button:hover {
	-unico-outer-stroke-top-color: @transparent;
	-unico-outer-stroke-right-color: @transparent;
	-unico-outer-stroke-bottom-color: alpha (shade (@bg_color, 0.05), 0.06);
	-unico-outer-stroke-left-color: @transparent;
	-unico-outer-stroke-gradient: none;
	-unico-outer-stroke-width: 1px;
}
*/
/*************
 * assistant *
 *************/
GtkAssistant .sidebar .highlight {
	color: @fg_color;
	font: bold;
}

GtkAssistant .sidebar {
	background-color: shade (@bg_color, 0.97);
	border-right-color: shade (@bg_color, 0.8);
	border-radius: 0;
	border-style: solid;
	border-width: 0 1px 0 0;
	padding: 12px;

	color: mix (@fg_color, @bg_color, 0.40);
	text-shadow: 0 1 shade (@bg_color, 1.04);

	-unico-border-gradient: none;
	-unico-inner-stroke-right-color: shade (@bg_color, 0.94);
	-unico-inner-stroke-width: 0 1px 0 0;
	-unico-outer-stroke-width: 0;
}

/**************
 * background *
 **************/
.background {
	background-color: @bg_color;
	border-width: 0;
}

/**********
 * button *
 **********/
.button {
	padding: 3px;

	-unico-focus-border-color: alpha (@selected_bg_color, 0.7);
	-unico-focus-fill-color: @transparent;
	-unico-focus-outer-stroke-color: alpha (@selected_bg_color, 0.2);
}

GtkComboBox,
.button {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.1)),
		to (shade (@button_bg_color, 0.95)));
	border-radius: 2px;
	border-style: solid;

	color: @fg_color;
	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.7)),
		to (shade (@bg_color, 0.6)));
	-unico-glow-color: shade (@button_bg_color, 1.14);
	-unico-glow-radius: 0;
	-unico-inner-stroke-color: shade (@bg_color, 1.9);
	-unico-inner-stroke-width: 1px 1px 0 1px;
}

.button:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.2)),
		to (shade (@button_bg_color, 1.04)));
}

.button:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.9)),
		to (shade (@bg_color, 0.85)));

	-unico-focus-outer-stroke-color: @transparent;
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.6)),
		to (shade (@bg_color, 0.6)));
	-unico-glow-radius: 0;
	-unico-inner-stroke-color: shade (@bg_color, 0.8);
	-unico-inner-stroke-width: 1px 1px 0 1px;
}

.button:active:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.95)),
		to (shade (@bg_color, 0.9)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.6)),
		to (shade (@bg_color, 0.6)));
	-unico-inner-stroke-color: shade (@bg_color, 0.85);
}

.button:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.04)),
		to (shade (@button_insensitive_bg_color, 0.98)));

	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 0.7)),
		to (shade (@button_insensitive_bg_color, 0.8)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.1)),
		to (shade (@button_insensitive_bg_color, 1.1)));
	-unico-inner-stroke-width: 1px 1px 0 1px;
}

.button:insensitive:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.0)),
		to (shade (@button_insensitive_bg_color, 0.97)));

	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 0.95)),
		to (shade (@button_insensitive_bg_color, 0.98)));
}

GtkComboBox.combobox-entry .button,
GtkScale.slider,
GtkScale.slider.vertical,
.notebook .button,
.inline-toolbar.toolbar .button {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.1)),
		to (shade (@button_bg_color, 0.95)));
	border-top-color: shade (@bg_color, 0.82);
	border-right-color: shade (@bg_color, 0.78);
	border-bottom-color: shade (@bg_color, 0.64);
	border-left-color: shade (@bg_color, 0.78);
	padding: 1px;

	text-shadow: 0 1 alpha (shade (@bg_color, 1.26), 0.5);

	-unico-glow-color: shade (@bg_color, 1.02);
	-unico-border-gradient: none;
	-unico-glow-radius: 0;
	-unico-inner-stroke-color: shade (@bg_color, 1.9);
}

GtkComboBox.combobox-entry .button:hover,
GtkScale.slider:hover,
GtkScale.slider.vertical:hover,
.notebook .button:hover,
.inline-toolbar.toolbar .button:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.2)),
		to (shade (@button_bg_color, 1.04)));
	border-top-color: shade (@bg_color, 0.85);
	border-right-color: shade (@bg_color, 0.82);
	border-bottom-color: shade (@bg_color, 0.67);
	border-left-color: shade (@bg_color, 0.82);

	-unico-border-gradient: none;
	-unico-glow-color: shade (@bg_color, 1.07);
	-unico-inner-stroke-color: shade (@bg_color, 1.9);
}

GtkComboBox.combobox-entry .button:active,
.notebook .button:active,
.inline-toolbar.toolbar .button:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.9)),
		to (shade (@bg_color, 0.85)));
	border-top-color: shade (@bg_color, 0.62);
	border-right-color: shade (@bg_color, 0.72);
	border-bottom-color: shade (@bg_color, 0.76);
	border-left-color: shade (@bg_color, 0.72);

	-unico-border-gradient: none;
	-unico-inner-stroke-color: shade (@bg_color, 0.8);
}

GtkComboBox.combobox-entry .button:active:hover,
.notebook .button:active:hover,
.inline-toolbar.toolbar .button:active:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.95)),
		to (shade (@bg_color, 0.9)));
	border-top-color: shade (@bg_color, 0.64);
	border-right-color: shade (@bg_color, 0.74);
	border-bottom-color: shade (@bg_color, 0.79);
	border-left-color: shade (@bg_color, 0.74);

	-unico-border-gradient: none;
	-unico-inner-stroke-color: shade (@bg_color, 0.85);
}

GtkComboBox.combobox-entry .button:insensitive,
.notebook .button:insensitive,
.inline-toolbar.toolbar .button:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.04)),
		to (shade (@button_insensitive_bg_color, 0.98)));
	border-top-color: shade (@bg_color, 0.86);
	border-right-color: shade (@bg_color, 0.86);
	border-bottom-color: shade (@bg_color, 0.86);
	border-left-color: shade (@bg_color, 0.9);

	-unico-border-gradient: none;
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.1)),
		to (shade (@button_insensitive_bg_color, 1.1)));
}

/* default button */
.button.default {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (mix (shade (@selected_bg_color, 1.1), @bg_color, 0.3)),
		to (mix (shade (@selected_bg_color, 0.95), @bg_color, 0.3)));

	text-shadow: 0 1 alpha (shade (@selected_bg_color, 1.26), 0.4);

	-unico-focus-border-color: @transparent;
	-unico-focus-outer-stroke-color: alpha (@selected_bg_color, 0.2);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (mix (shade (@selected_bg_color, 0.7), @bg_color, 0.3)),
		to (mix (shade (@selected_bg_color, 0.54), @bg_color, 0.3)));
	-unico-glow-color: mix (shade (@selected_bg_color, 1.5), @bg_color, 0.3);
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (mix (shade (@selected_bg_color, 1.38), @bg_color, 0.3)),
		to (mix (shade (@selected_bg_color, 1.24), @bg_color, 0.3)));
	-unico-inner-stroke-width: 1px 1px 0 1px;
}

.button.default:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (mix (shade (@selected_bg_color, 1.2), @bg_color, 0.3)),
		to (mix (shade (@selected_bg_color, 1.04), @bg_color, 0.3)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (mix (shade (@selected_bg_color, 0.7), @bg_color, 0.3)),
		to (mix (shade (@selected_bg_color, 0.54), @bg_color, 0.3)));
	-unico-glow-color: mix (shade (@selected_bg_color, 1.5), @bg_color, 0.3);
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (mix (shade (@selected_bg_color, 1.38), @bg_color, 0.3)),
		to (mix (shade (@selected_bg_color, 1.24), @bg_color, 0.3)));
}

.button.default:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (mix (shade (@selected_bg_color, 0.9), @bg_color, 0.3)),
		to (mix (shade (@selected_bg_color, 0.8), @bg_color, 0.3)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (mix (shade (@selected_bg_color, 0.7), @bg_color, 0.3)),
		to (mix (shade (@selected_bg_color, 0.7), @bg_color, 0.3)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (mix (shade (@selected_bg_color, 0.77), @bg_color, 0.3)),
		to (mix (shade (@selected_bg_color, 0.77), @bg_color, 0.3)));
}

.button.default:active:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (mix (shade (@selected_bg_color, 0.98), @bg_color, 0.3)),
		to (mix (shade (@selected_bg_color, 0.88), @bg_color, 0.3)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (mix (shade (@selected_bg_color, 0.7), @bg_color, 0.3)),
		to (mix (shade (@selected_bg_color, 0.7), @bg_color, 0.3)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (mix (shade (@selected_bg_color, 0.82), @bg_color, 0.3)),
		to (mix (shade (@selected_bg_color, 0.82), @bg_color, 0.3)));
}

.button.default:insensitive {
	-unico-glow-radius: 0;
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.08)),
		to (shade (@button_insensitive_bg_color, 1.0)));
}

/* Middle button */
.linked .entry,
.linked .button,
.linked .button:active,
.linked .button:active:hover,
.linked .button:insensitive,
.primary-toolbar .linked .entry,
.primary-toolbar .linked .button,
.primary-toolbar .linked .button:active,
.primary-toolbar .linked .button:active:hover,
.primary-toolbar .linked .button:insensitive {
	border-width: 1px;
	border-right-width: 0;

	border-radius: 0;

	-unico-outer-stroke-width: 1px 0 1px 0;
}

/* Leftmost button */
.linked .entry:first-child,
.linked .button:first-child,
.linked .button:active:first-child,
.linked .button:active:hover:first-child,
.linked .button:insensitive:first-child,
.primary-toolbar .linked .entry:first-child,
.primary-toolbar .linked .button:first-child,
.primary-toolbar .linked .button:active:first-child,
.primary-toolbar .linked .button:active:hover:first-child,
.primary-toolbar .linked .button:insensitive:first-child {
	border-width: 1px;
	border-right-width: 0;

	border-radius: 2px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;

	-unico-outer-stroke-width: 1px 0 1px 1px;
}

/* Rightmost button */
.linked .entry:last-child,
.linked .button:last-child,
.linked .button:active:last-child,
.linked .button:active:hover:last-child,
.linked .button:insensitive:last-child,
.primary-toolbar .linked .entry:last-child,
.primary-toolbar .linked .button:last-child,
.primary-toolbar .linked .button:active:last-child,
.primary-toolbar .linked .button:active:hover:last-child,
.primary-toolbar .linked .button:insensitive:last-child {
	border-width: 1px;

	border-radius: 2px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;

	-unico-outer-stroke-width: 1px 1px 1px 0;
}

/* Linked single button */
.linked .entry:only-child,
.linked .button:only-child,
.linked .button:active:only-child,
.linked .button:active:hover:only-child,
.linked .button:insensitive:only-child,
.primary-toolbar .linked .entry:only-child,
.primary-toolbar .linked .button:only-child,
.primary-toolbar .linked .button:active:only-child,
.primary-toolbar .linked .button:active:hover:only-child,
.primary-toolbar .linked .button:insensitive:only-child {
	border-width: 1px;

	border-radius: 2px;

	-unico-outer-stroke-width: 1px;
}

/****************
 * cell and row *
 ****************/
.cell {
	background-color: @base_color;
	border-radius: 0;
	border-width: 0;
}

.cell:selected {
}

row:hover {
}

row:insensitive {
}

row:selected {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: shade (@selected_bg_color, 0.85);
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.0)),
		to (shade (@selected_bg_color, 0.85)));
}

row:selected:focused {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: shade (@selected_bg_color, 0.85);
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.0)),
		to (shade (@selected_bg_color, 0.85)));
}

row:selected:backdrop {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: @backdrop_selected_bg_color;
	background-image: -gtk-gradient (linear,left top, left bottom,
		from (shade (@backdrop_selected_bg_color, 1.08)),
		to (shade (@backdrop_selected_bg_color, 0.98)));
}

row:selected:focused:backdrop {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: @backdrop_selected_bg_color;
	background-image: -gtk-gradient (linear,left top, left bottom,
		from (shade (@backdrop_selected_bg_color, 1.08)),
		to (shade (@backdrop_selected_bg_color, 0.98)));
}

/*******************
 * check and radio *
 *******************/
.check row:selected,
.radio row:selected,
.check,
.check row,
.radio,
.radio row {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@base_color, 0.96)),
		to (@base_color));
	border-top-color: shade (@bg_color, 0.64);
	border-right-color: shade (@bg_color, 0.76);
	border-bottom-color: shade (@bg_color, 0.82);
	border-left-color: shade (@bg_color, 0.76);
	border-style: solid;
	border-width: 1px;

	-unico-border-gradient: none;
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.06)),
		to (alpha (shade (@bg_color, 0.05), 0.03)));
	-unico-inner-stroke-width: 1px;
}

.check,
.check row {
	border-radius: 2px;
}

.radio,
.radio row {
	border-radius: 10px;
}

/* FIXME (Cimi) this is horrible */
.check:active,
.check row:selected:active,
.check row:selected:focused:active,
.notebook .check:active,
.notebook .radio:active,
.radio:active,
.radio row:selected:active,
.radio row:selected:focused:active,
.check:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focused:inconsistent,
.notebook .check:inconsistent,
.notebook .radio:inconsistent,
.radio:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focused:inconsistent {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.2)),
		color-stop (0.5, shade (@selected_bg_color, 1.0)),
		to (shade (@selected_bg_color, 0.9)));

	-unico-bullet-color: shade (@selected_bg_color, 0.535);
	-unico-bullet-outline-color: shade (@selected_bg_color, 1.2);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.7)),
		to (shade (@selected_bg_color, 0.7)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.3)),
		to (shade (@selected_bg_color, 1.06)));
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.02)),
		to (alpha (shade (@bg_color, 0.05), 0.06)));
	-unico-outer-stroke-width: 1px;
}

/* FIXME (Cimi) this is horrible */
.check:active:hover,
.check row:selected:active:hover,
.check row:selected:focused:active:hover,
.notebook .check:active:hover,
.notebook .radio:active:hover,
.radio:active:hover,
.radio row:selected:active:hover,
.radio row:selected:focused:active:hover,
.check:active:hover:inconsistent,
.check row:selected:active:hover:inconsistent,
.check row:selected:focused:active:hover:inconsistent,
.notebook .check:active:hover:inconsistent,
.notebook .radio:active:hover:inconsistent,
.radio:active:hover:inconsistent,
.radio row:selected:active:hover:inconsistent,
.radio row:selected:focused:active:hover:inconsistent {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.26)),
		color-stop (0.5, shade (@selected_bg_color, 1.05)),
		to (shade (@selected_bg_color, 0.95)));

	-unico-bullet-color: shade (@selected_bg_color, 0.56);
	-unico-bullet-outline-color: shade (@selected_bg_color, 1.26);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.74)),
		to (shade (@selected_bg_color, 0.74)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.37)),
		to (shade (@selected_bg_color, 1.12)));
}

.check row:selected,
.check row:selected:active,
.check row:selected:focused,
.check row:selected:focused:active,
.radio row:selected,
.radio row:selected:active,
.radio row:selected:focused,
.radio row:selected:focused:active {
	-unico-outer-stroke-color: @transparent;
	-unico-outer-stroke-gradient: none;
}

.check:insensitive,
.radio:insensitive {
	background-color: shade (@bg_color, 0.96);
	background-image: none;
}

.check:insensitive:active,
.radio:insensitive:active,
.check:insensitive:inconsistent,
.radio:insensitive:inconsistent {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.96)),
		to (shade (@bg_color, 0.9)));

	-unico-bullet-color: shade (@bg_color, 0.6);
	-unico-bullet-outline-color: shade (@bg_color, 1.0);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.8)),
		to (shade (@bg_color, 0.7)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.0)),
		to (shade (@bg_color, 0.94)));
}

GtkCheckButton:hover,
GtkCheckButton:active:hover,
GtkCheckButton:selected,
GtkCheckButton:selected:focus {
	background-color: @transparent;
}

/*****************
 * column-header *
 *****************/
column-header .button,
column-header .button:active,
.notebook column-header .button,
.notebook column-header .button:active {
	-GtkButton-inner-border: 0;
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color,1.1)),
		to (shade (@bg_color,1.0)));
	border-radius: 0;
	border-width: 0;

	-unico-focus-border-radius: 0;
	-unico-focus-border-color: @transparent;
	-unico-focus-fill-color: alpha (@selected_bg_color, 0.2);
	-unico-focus-outer-stroke-color: @transparent;

	-unico-glow-radius: 0;
	-unico-outer-stroke-width: 0;
}

column-header .button,
.notebook column-header .button {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color,1.1)),
		to (shade (@bg_color,1.0)));

	text-shadow: 0 1 alpha (shade (@bg_color, 1.25), 0.4);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color,1.1)),
		to (shade (@bg_color,1.0)));
	-unico-glow-color: shade (@bg_color, 1.02);
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color,1.2)),
		to (shade (@bg_color,0.94)));
	-unico-inner-stroke-width: 1px 0 1px 0;
	border-width: 0;
}

column-header .button:hover,
.notebook column-header .button:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color,1.2)),
		to (shade (@bg_color,1.1)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color,1.1)),
		to (shade (@bg_color,1.0)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color,1.24)),
		to (shade (@bg_color,0.98)));
	-unico-inner-stroke-width: 1px 0 1px 0;
}

column-header:nth-child(last) .button {
	border-width: 0;
}

/******************
 * combobox entry *
 ******************/
.primary-toolbar GtkComboBox.combobox-entry .entry,
.primary-toolbar GtkComboBox.combobox-entry .entry:active,
.primary-toolbar GtkComboBox.combobox-entry .entry:focused,
.primary-toolbar GtkComboBox.combobox-entry .entry:insensitive,
GtkComboBox.combobox-entry .entry,
GtkComboBox.combobox-entry .entry:active,
GtkComboBox.combobox-entry .entry:focused,
GtkComboBox.combobox-entry .entry:insensitive {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-width: 1px 0 1px 1px;

	-unico-outer-stroke-width: 1px 0 1px 1px;
}

.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar GtkComboBox.combobox-entry .button:hover,
.primary-toolbar GtkComboBox.combobox-entry .button:active,
.primary-toolbar GtkComboBox.combobox-entry .button:insensitive,
GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:insensitive {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-width: 1px 1px 1px 1px;

	-unico-outer-stroke-width: 1px 1px 1px 0;
}

GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:insensitive {
	border-top-color: shade (@bg_color, 0.64);
	border-right-color: shade (@bg_color, 0.8);
	border-bottom-color: shade (@bg_color, 0.86);
	border-left-color: shade (@bg_color, 0.76);
}

/****************
 * drawing area *
 ****************/
/*
GtkDrawingArea {
	background-color: @transparent;
}
*/

/*********
 * entry *
 *********/
.entry {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@base_color, 0.98)),
		to (@base_color));
	background-color: @base_color; /* Fix for Opera */
	border-top-color: shade (@bg_color, 0.64);
	border-right-color: shade (@bg_color, 0.76);
	border-bottom-color: shade (@bg_color, 0.82);
	border-left-color: shade (@bg_color, 0.76);
	border-radius: 2px;
	border-style: solid;
	padding: 3px 5px 3px 5px;

	color: @text_color;

	-unico-border-gradient: none;
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.04)),
		to (alpha (shade (@bg_color, 0.05), 0.02)));
	-unico-inner-stroke-width: 1px;
}

.entry:selected,
.entry:selected:focused {
	background-color: @selected_bg_color;
	color: @selected_fg_color;
}

.entry:focused {
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.75)),
		to (shade (@selected_bg_color, 0.8)));
	-unico-inner-stroke-color: alpha (@selected_bg_color, 0.3);
	-unico-inner-stroke-gradient: none;
}

.entry:insensitive {
	background-color: shade (@bg_color, 0.96);
	background-image: none;

	color: mix (@text_color, @base_color, 0.4);

	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.04)),
		to (alpha (shade (@bg_color, 0.05), 0.02)));
}

.primary-toolbar .entry.progressbar,
.primary-toolbar .entry.progressbar,
.entry.progressbar {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.8)),
		color-stop (0.1, shade (@selected_bg_color, 0.9)),
		to (shade (@selected_bg_color, 1.1)));
	border-radius: 2px;
	border-width: 0;

	color: @selected_fg_color;

	-unico-outer-stroke-width: 0;
}

/************
 * expander *
 ************/
.expander {
	color: @fg_color;
}

/*********
 * frame *
 *********/
.frame {
	border-radius: 2px;
	-unico-outer-stroke-width: 0;
}

/************
 * iconview *
 ************/
GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.0)),
		to (shade (@selected_bg_color, 0.9)));
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;

	color: @selected_fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.7)),
		to (shade (@selected_bg_color, 0.7)));
	-unico-glow-radius: 0;
	-unico-glow-color: shade (@selected_bg_color, 1.3);
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.2)),
		to (shade (@selected_bg_color, 1.08)));
	-unico-inner-stroke-width: 1px;
}

.rubberband {
	background-color: alpha (@selected_bg_color, 0.35);
	border-color: @selected_bg_color;
	border-radius: 0;
	border-style: solid;
	border-width: 1px;
}

/*********
 * image *
 *********/
GtkImage,
GtkImage:insensitive,
GtkLabel,
GtkLabel:insensitive {
	background-color: @transparent;
}

/***********
 * infobar *
 ***********/
.info {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@info_bg_color, 1.04)),
		to (shade (@info_bg_color, 0.96)));
	border-style: solid;
	border-width: 1px;

	color: @info_fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@info_bg_color, 0.8)),
		to (shade (@info_bg_color, 0.75)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@info_bg_color, 1.1)),
		to (shade (@info_bg_color, 1.04)));
	-unico-inner-stroke-width: 1px;
}

.warning {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@warning_bg_color, 1.04)),
		to (shade (@warning_bg_color, 0.96)));
	border-style: solid;
	border-width: 1px;

	color: @warning_fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@warning_bg_color, 0.8)),
		to (shade (@warning_bg_color, 0.75)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@warning_bg_color, 1.1)),
		to (shade (@warning_bg_color, 1.04)));
	-unico-inner-stroke-width: 1px;
}

.question {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@question_bg_color, 1.04)),
		to (shade (@question_bg_color, 0.96)));
	border-style: solid;
	border-width: 1px;

	color: @question_fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@question_bg_color, 0.8)),
		to (shade (@question_bg_color, 0.75)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@question_bg_color, 1.1)),
		to (shade (@question_bg_color, 1.04)));
	-unico-inner-stroke-width: 1px;
}

.error {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@error_bg_color, 1.04)),
		to (shade (@error_bg_color, 0.96)));
	border-style: solid;
	border-width: 1px;

	color: @error_fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@error_bg_color, 0.8)),
		to (shade (@error_bg_color, 0.75)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@error_bg_color, 1.1)),
		to (shade (@error_bg_color, 1.04)));
	-unico-inner-stroke-width: 1px;
}

.view.dim-label,
.dim-label,
.dim-label:hover,
.dim-label:focus {
	color: mix (@fg_color, @bg_color, 0.50);
}

.dim-label:selected,
.dim-label:selected:focus {
	color: mix (@selected_fg_color, @base_color, 0.50);
}

/********
 * menu *
 ********/
.menu {
	background-image: none;
	background-color: @base_color;
	color: @fg_color;
	border-style: solid;
	border-width: 0;
	padding: 0;

	-unico-inner-stroke-color: shade (@bg_color, 0.8);
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 1px;
}

Genericmenuitem .menu,
DbusmenuGtkMenu .menu,
.menubar .menu,
.primary-toolbar .menu {
	background-color: @base_color;
	color: @fg_color;
	-unico-inner-stroke-color: shade (@bg_color, 0.8);
}

.menu:selected {
	background-color: @selected_bg_color;
}

.menubar .menu.button:hover,
.menubar .menu.button:active,
.menubar .menu.button:active:insensitive,
.menubar .menu.button:insensitive,
.menubar .menu.button,
.primary-toolbar .menu.button:hover,
.primary-toolbar .menu.button:active,
.primary-toolbar .menu.button:active:insensitive,
.primary-toolbar .menu.button:insensitive,
.primary-toolbar .menu.button {
	background-color: shade (@dark_bg_color, 1.08);
	background-image: none;
	border-radius: 0;
	border-style: none;
	border-width: 1px;

	-unico-border-gradient: none;
	-unico-glow-radius: 0;
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;
}

/***********
 * menubar *
 ***********/
.menubar {
	-GtkWidget-window-dragging: true;
	color: @fg_color;
	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);
	background-image: -gtk-gradient (linear,left top,left bottom,
		from (@toolbar_gradient_base),
		to (@toolbar_gradient_final));
	border-width: 0;
	-unico-inner-stroke-width: 0 0 1px 0;
	-unico-inner-stroke-color: @toolbar_border;
}

/***************
 * menubaritem *
 ***************/
.menubar.menuitem {
	border-radius: 0;
	border-width: 1px;
	color: @fg_color;
}

.menubar.menuitem:hover,
.menubar .menuitem:hover {
	color: @fg_color;
	text-shadow: none;
	border-width: 1px;
	border-style: solid;
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.0)),
		to (shade (@bg_color, 0.85)));
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.0)),
		to (shade (@bg_color, 0.8)));
	-unico-inner-stroke-width: 0;
}

/************
 * menuitem *
 ************/
.menuitem {
	color: @fg_color;
}

.menuitem {
	padding: 3px;
	border-radius: 0;
	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);
	border-style: solid;
	border-width: 0;
	color: @fg_color;
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.0)),
		to (shade (@selected_bg_color, 0.85)));
	-unico-bullet-color: @fg_color;
}

Genericmenuitem .menuitem,
DbusmenuGtkMenu .menuitem,
.menubar .menuitem,
.primary-toolbar .menuitem {
	color: @fg_color;
}

/* Workaround for lp:949368 */
GtkComboBox .menuitem * {
	color: @fg_color;
}
GtkComboBox .menuitem *:hover {
	color: @selected_fg_color;
}

.menuitem:hover,
.menu .menuitem:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.0)),
		to (shade (@selected_bg_color, 0.85)));
	color: @selected_fg_color;
	text-shadow: none;
	-unico-bullet-color: @dark_fg_color;
	border-style: solid;
	border-width: 0;
}

.menuitem.check:active,
.menuitem.radio:active {
	color: @fg_color;
	-unico-bullet-color: @fg_color;
}

.menuitem:insensitive,
.menuitem *:insensitive {
	color: mix (@fg_color, @bg_color, 0.5);
}

Genericmenuitem .menuitem:insensitive,
Genericmenuitem .menuitem *:insensitive,
DbusmenuGtkMenu .menuitem:insensitive,
DbusmenuGtkMenu .menuitem *:insensitive,
.menubar .menuitem:insensitive,
.menubar .menuitem *:insensitive,
.primary-toolbar .menuitem:insensitive,
.primary-toolbar .menuitem *:insensitive {
	color: mix (@fg_color, @bg_color, 0.5);
}

Genericmenuitem .menuitem.check:active,
Genericmenuitem .menuitem.radio:active,
DbusmenuGtkMenu .menuitem.check:active,
DbusmenuGtkMenu .menuitem.radio:active,
.menubar .menuitem.check:active,
.menubar .menuitem.radio:active,
.primary-toolbar .menuitem.check:active,
.primary-toolbar .menuitem.radio:active {
	color: @fg_color;
	-unico-bullet-color: @fg_color;
}

.menuitem.check:active:hover,
.menuitem.radio:active:hover {
	color: @selected_fg_color;
	-unico-bullet-color: @selected_fg_color;
}

.menubar .menuitem GtkCalendar,
.menubar .menuitem GtkCalendar.button,
.menubar .menuitem GtkCalendar.header,
.menubar .menuitem GtkCalendar.view,
.primary-toolbar .menuitem GtkCalendar,
.primary-toolbar .menuitem GtkCalendar.button,
.primary-toolbar .menuitem GtkCalendar.header,
.primary-toolbar .menuitem GtkCalendar.view {
	background-color: @bg_color;
	background-image: none;
	border-radius: 0;
	border-style: solid;
	border-width: 0;
	padding: 0;
	color: @fg_color;
}

.menubar .menuitem GtkCalendar,
.primary-toolbar .menuitem GtkCalendar {
	background-color: alpha (@selected_bg_color, 0.5);
	background-image: none;
}

.menubar .menuitem .entry,
.primary-toolbar .menuitem .entry {
	background-color: shade (@bg_color, 1.0);
	background-image: none;

	color: @fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.75)),
		to (shade (@bg_color, 0.9)));
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.98)),
		to (shade (@bg_color, 1.1)));;
}

.menubar .menuitem GtkScale.trough {
	background-color: @bg_color;
	background-image: none;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.75)),
		to (shade (@bg_color, 1.15)));
}

Genericmenuitem .menuitem .accelerator,
DbusmenuGtkMenu .menuitem .accelerator,
.menubar .menuitem .accelerator,
.primary-toolbar .menuitem .accelerator {
	color: alpha (@fg_color, 0.5);
}

Genericmenuitem .menuitem .accelerator:hover,
DbusmenuGtkMenu .menuitem .accelerator:hover,
.menubar .menuitem .accelerator:hover,
.primary-toolbar .menuitem .accelerator:hover {
	color: alpha (@selected_fg_color, 0.8);
}

Genericmenuitem .menuitem .accelerator:insensitive,
DbusmenuGtkMenu .menuitem .accelerator:insensitive,
.menubar .menuitem .accelerator:insensitive,
.primary-toolbar .menuitem .accelerator:insensitive {
	color: alpha (mix (@fg_color, @bg_color, 0.5), 0.5);
}

/************
 * notebook *
 ************/
.notebook {
	background-color: shade (@bg_color, 1.1);
	background-image: none;
	border-radius: 2px;
	padding: 2px;

	-unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.3);
	-unico-inner-stroke-gradient: none;
}

.notebook tab {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.99)),
		to (shade (@bg_color, 0.92)));
	padding: 2px 2px 0 2px;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.89)),
		to (shade (@bg_color, 0.80)));
	-unico-inner-stroke-color: alpha (shade (@bg_color, 1.15), 0.34);
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 1px;
	-unico-outer-stroke-color: @transparent;
	-unico-outer-stroke-gradient: none;
	-unico-outer-stroke-width: 1px;
}

.notebook tab GtkLabel:active {
	color: @fg_color;
}

.notebook tab GtkLabel {
	color: @fg_color;
}

.notebook tab.top:active {
	padding: 3px 7px 1px 7px;
}

.notebook tab.top {
	padding: 2px 5px 0 5px;
}

.notebook tab.right:active {
	padding: 4px 6px 4px 1px;
}

.notebook tab.right {
	padding: 3px 4px 3px 0;
}

.notebook tab.bottom:active {
	padding: 1px 7px 4px 7px;
}

.notebook tab.bottom {
	padding: 0 5px 3px 5px;
}

.notebook tab.left:active {
	padding: 4px 1px 4px 6px;
}

.notebook tab.left {
	padding: 3px 0 3px 4px;
}
.notebook tab:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.12)),
		to (shade (@bg_color, 1.1)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.7)),
		to (shade (@bg_color, 0.7)));
	-unico-inner-stroke-color: alpha (shade (@bg_color, 1.28), 0.34);
	color: @fg_color;
}

.notebook tab .button {
	padding: 0;
}

.notebook GtkDrawingArea {
	background-color: shade (@bg_color, 1.02);
}

/******************
 * pane separator *
 ******************/
.sidebar .pane-separator,
.pane-separator {
	background-color: @transparent;
	border-color: shade (@bg_color, 0.84);
	text-shadow: none;

	-unico-border-gradient: none;
	-unico-inner-stroke-color: shade (@bg_color, 1.1);
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 1px;
}

/*************************
 * progressbar and scale *
 *************************/
GtkScale,
GtkProgressBar {
	border-radius: 0;
	border-width: 1px;
	padding: 0;
}

.menubar .menuitem .scale.highlight.left,
.scale.highlight.left,
.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focused {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.96)),
		to (shade (@selected_bg_color, 1.1)));
	border-width: 1px;
	border-style: solid;
	border-color: shade (@selected_bg_color, 0.8);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.8)),
		to (shade (@selected_bg_color, 0.8)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.15)),
		to (shade (@selected_bg_color, 1.15)));
	-unico-inner-stroke-width: 1px 1px 0px 1px;
	-unico-outer-stroke-color: @transparent;
	-unico-outer-stroke-width: 0;
}

.scale.highlight.bottom,
.progressbar.vertical {
	background-image: -gtk-gradient (linear, left top, right top,
		from (shade (@selected_bg_color, 0.96)),
		to (shade (@selected_bg_color, 1.1)));
	border-width: 1px;
	border-style: solid;
	border-color: shade (@selected_bg_color, 0.8);

	-unico-border-gradient: -gtk-gradient (linear, left top, right top,
		from (shade (@selected_bg_color, 0.8)),
		to (shade (@selected_bg_color, 0.8)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
		from (shade (@selected_bg_color, 1.15)),
		to (shade (@selected_bg_color, 1.15)));
	-unico-inner-stroke-width: 1px 0px 1px 1px;
}

.scale.highlight.left:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.95)),
		to (shade (@bg_color, 0.85)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.75)),
		to (shade (@bg_color, 0.75)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.97)),
		to (shade (@bg_color, 0.865)));
}

.scale.highlight.bottom:insensitive {
	background-image: -gtk-gradient (linear, left top, right top,
		from (shade (@bg_color, 0.95)),
		to (shade (@bg_color, 0.85)));

	-unico-border-gradient: -gtk-gradient (linear, left top, right top,
		from (shade (@bg_color, 0.75)),
		to (shade (@bg_color, 0.75)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
		from (shade (@bg_color, 0.97)),
		to (shade (@bg_color, 0.865)));
}

.trough,
.trough row,
.trough row:hover,
.trough row:selected,
.trough row:selected:focused {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.9)),
		to (shade (@bg_color, 0.98)));

	border-width: 1px;
	border-style: solid;
	border-radius: 0;
	border-color: shade (@bg_color, 0.8);
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.74)),
		to (shade (@bg_color, 0.8)));
	-unico-outer-stroke-width: 0;
}

.trough.vertical {
	background-image: -gtk-gradient (linear, left top, right top,
		from (shade (@bg_color, 0.9)),
		to (shade (@bg_color, 0.98)));

	border-width: 1px;
	border-style: solid;
	border-radius: 0;
	border-color: shade (@bg_color, 0.8);
	-unico-border-gradient: -gtk-gradient (linear, left top, right top,
		from (shade (@bg_color, 0.74)),
		to (shade (@bg_color, 0.8)));
	-unico-outer-stroke-width: 0;
}

GtkScale {
	-GtkRange-slider-width: 14;
	-GtkRange-trough-border: 1;
	-GtkScale-slider-length: 14;

	border-style: solid;
	border-width: 1px;
	border-radius: 8px;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.8)),
		to (shade (@bg_color, 0.8)));
	-unico-glow-radius: 0;
	-unico-inner-stroke-width: 1px;
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.6), 0.2)),
		to (alpha (@bg_color, 0.0)));
}

GtkScale.vertical {
	-GtkScale-slider-length: 13;
	-unico-inner-stroke-width: 1px;
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
		from (alpha (shade (@bg_color, 0.6), 0.2)),
		to (alpha (@bg_color, 0.0)));
}

GtkScale.mark {
	border-color: shade (@bg_color, 0.8);
}

/*************
 * scrollbar *
 *************/
.scrollbar {
	background-image: none;
	border-style: solid;
	-GtkRange-trough-border: 1;
	-GtkRange-arrow-scaling: 0.444;
	-GtkRange-slider-width: 11;
	-GtkRange-stepper-size: 0;
	-GtkScrollbar-min-slider-length: 30;
	-GtkRange-stepper-spacing: 0;
	-GtkRange-trough-under-steppers: 1;
}

.scrollbar.trough,
.scrollbar.trough.vertical {
	background-image: -gtk-gradient (linear, left top, right top,
		from (shade (@bg_color, 0.98)),
		to (shade (@bg_color, 1.06)));
	border-radius: 0;
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: shade (@bg_color, 0.96);
	-unico-border-gradient: -gtk-gradient (linear, left top, right top,
		from (shade (@bg_color, 0.96)),
		to (shade (@bg_color, 0.96)));
	-unico-inner-stroke-width: 0;
}

.scrollbar.trough.horizontal {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.98)),
		to (shade (@bg_color, 1.06)));
	border-radius: 0;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: shade (@bg_color, 0.96);
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.96)),
		to (shade (@bg_color, 0.96)));
}

/* Sliders and buttons */
.scrollbar.slider.vertical,
.scrollbar.button.vertical {
	background-image: -gtk-gradient (linear, left top, right top,
		from (shade (@bg_color, 0.95)),
		to (shade (@bg_color, 0.8)));
	border-color: shade (@bg_color, 0.65);
	border-radius: 10px;
	border-width: 1px;
}

.scrollbar.slider.vertical:prelight {
	background-image: -gtk-gradient (linear, left top, right top,
		from (shade (@bg_color, 0.85)),
		to (shade (@bg_color, 0.7)));
	border-color: shade (@bg_color, 0.6);
}

.scrollbar.slider.vertical:prelight:active {
	background-image: -gtk-gradient (linear, left top, right top,
		from (shade (@bg_color, 0.85)),
		to (shade (@bg_color, 0.7)));
	border-color: shade (@bg_color, 0.6);
}

.scrollbar.slider.horizontal,
.scrollbar.button.horizontal {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.95)),
		to (shade (@bg_color, 0.8)));
	border-color: shade (@bg_color, 0.65);
	border-radius: 10px;
	border-width: 1px;
}

.scrollbar.slider.horizontal:prelight {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.85)),
		to (shade (@bg_color, 0.7)));
	border-color: shade (@bg_color, 0.6);
}

.scrollbar.slider.horizontal:prelight:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.85)),
		to (shade (@bg_color, 0.7)));
	border-color: shade (@bg_color, 0.6);
}

.scrollbar.slider:insensitive {
	background-color: shade (@bg_color, 0.9);
}

.scrollbar.trough:insensitive {
	background-color: shade (@bg_color, 1.06);
}

/* overlay scrollbar */
OsThumb {
	color: shade (@fg_color, 1.6);
}

OsThumb:selected,
OsScrollbar:selected {
	background-color: @selected_bg_color;
}

OsThumb:active,
OsScrollbar:active {
	background-color: shade (@bg_color, 0.6);
}

OsThumb:insensitive,
OsScrollbar:insensitive {
	background-color: shade (@bg_color, 0.85);
}

/*******************
 * scrolled window *
 *******************/
GtkScrolledWindow.frame {
	border-top-color: shade (@bg_color, 0.84);
	border-right-color: shade (@bg_color, 0.76);
	border-bottom-color: shade (@bg_color, 0.86);
	border-left-color: shade (@bg_color, 0.76);
	border-radius: 0;
	border-style: solid;

	-unico-border-gradient: none;
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;
}

/*************
 * separator *
 *************/
.separator {
	border-color: shade (@bg_color, 0.86);
	border-style: solid;

	-unico-border-gradient: none;
	-unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.6);
	-unico-inner-stroke-gradient: none;
}

.button .separator,
.button.separator {
	border-color: shade (@button_bg_color, 0.84);

	-unico-inner-stroke-color: alpha (shade (@button_bg_color, 1.26), 0.5);
	-unico-inner-stroke-gradient: none;
}

.notebook .button .separator,
.notebook .button.separator {
	border-color: shade (@bg_color, 0.9);

	-unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.6);
	-unico-inner-stroke-gradient: none;
}

.button .separator:insensitive,
.button.separator:insensitive {
	border-color: shade (@button_insensitive_bg_color, 0.9);

	-unico-inner-stroke-color: alpha (shade (@button_insensitive_bg_color, 1.26), 0.6);
	-unico-inner-stroke-gradient: none;
}

.notebook .button .separator,
.notebook .button.separator {
	border-color: shade (@bg_color, 0.84);

	-unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.5);
	-unico-inner-stroke-gradient: none;
}

.menuitem.separator {
	-GtkMenuItem-horizontal-padding: 0;
	-GtkWidget-separator-height: 0;

	border-color: shade (@bg_color, 0.96);
	-unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.5);
}

Genericmenuitem .menuitem.separator,
DbusmenuGtkMenu .menuitem.separator,
.menubar .menuitem.separator,
.primary-toolbar .menuitem.separator {
	border-color: shade (@bg_color, 0.96);

	-unico-inner-stroke-color: alpha (shade (@bg_color, 1.26), 0.5);
}

/***********
 * sidebar *
 ***********/
.sidebar,
.sidebar .view {
}

.sidebar row:selected {
	text-shadow: 0 1 shade (@selected_bg_color, 0.7);
}

.sidebar row:hover {
	background-color: alpha (@bg_color, 0.0);
}

.sidebar .frame {
	border-width: 0;
}

/**************
 * spinbutton *
 **************/
.spinbutton.button:active,
.spinbutton.button:insensitive,
.notebook .spinbutton.button:active,
.notebook .spinbutton.button:insensitive,
.spinbutton.button,
.notebook .spinbutton.button {
	border-radius: 0;
	border-width: 1px 0 1px 1px;

	-unico-outer-stroke-width: 0;
}

.spinbutton.button:active:nth-child(last),
.spinbutton.button:insensitive:nth-child(last),
.notebook .spinbutton.button:active:nth-child(last),
.notebook .spinbutton.button:insensitive:nth-child(last),
.spinbutton.button:nth-child(last),
.notebook .spinbutton.button:nth-child(last) {
	border-radius: 0 2px 2px 0;
	border-width: 1px;
}

.spinbutton.button,
.notebook .spinbutton.button {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.1)),
		to (shade (@button_bg_color, 0.95)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.65)),
		to (shade (@bg_color, 0.7)));
}

.spinbutton.button:hover,
.notebook .spinbutton.button:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.2)),
		to (shade (@button_bg_color, 1.04)));
}

.spinbutton.button:active,
.notebook .spinbutton.button:active,
.spinbutton.button:active:hover,
.notebook .spinbutton.button:active:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.9)),
		to (shade (@bg_color, 0.85)));
}

.spinbutton.button:insensitive,
.notebook .spinbutton.button:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.02)),
		to (shade (@bg_color, 0.98)));
	border-top-color: shade (@bg_color, 0.64);
	border-right-color: shade (@bg_color, 0.76);
	border-bottom-color: shade (@bg_color, 0.82);
	border-left-color: shade (@bg_color, 0.76);

	color: shade (@bg_color, 0.66);

	-unico-border-gradient: none;
}

.spinbutton,
.spinbutton:hover {
	color: @fg_color;
}

/***********
 * spinner *
 ***********/
.spinner {
}

.spinner:active {
	 transition: 750ms linear loop;
}

/*************
 * statusbar *
 *************/
GtkStatusbar {
}

/**********
 * switch *
 **********/
GtkSwitch {
	border-radius: 0;
	padding: 0;

	-unico-focus-border-radius: 4;
	-unico-focus-border-color: alpha (@selected_bg_color, 0.3);
	-unico-focus-fill-color: @transparent;
}

GtkSwitch.trough {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.9)),
		to (shade (@bg_color, 0.98)));

	color: @fg_color;
	text-shadow: 0 1 alpha (shade (@bg_color, 1.25), 0.5);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.74)),
		to (shade (@bg_color, 0.8)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.88)),
		to (shade (@bg_color, 0.96)));
	-unico-inner-stroke-width: 1px;
}

GtkSwitch.trough:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.93)),
		to (shade (@selected_bg_color, 0.99)));

	color: @selected_fg_color;
	text-shadow: 0 -1 shade (@selected_bg_color, 0.7);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.7)),
		to (shade (@selected_bg_color, 0.76)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.86)),
		to (shade (@selected_bg_color, 0.94)));
}

GtkSwitch.trough:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.93)),
		to (shade (@bg_color, 0.99)));

	color: shade (@bg_color, 0.6);
	text-shadow: 0 1 alpha (shade (@bg_color, 1.25), 0.5);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.7)),
		to (shade (@bg_color, 0.75)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.88)),
		to (shade (@bg_color, 0.965)));
}

GtkSwitch.slider {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.1)),
		to (shade (@button_bg_color, 0.95)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.7)),
		to (shade (@bg_color, 0.6)));
	-unico-inner-stroke-color: shade (@bg_color, 0.6);
	-unico-inner-stroke-width: 1px;
	-unico-outer-stroke-width: 0;
}

GtkSwitch.slider:insensitive {
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.7)),
		to (shade (@bg_color, 0.75)));
}

/************
 * textview *
 ************/
GtkTextView {
	background-color: @base_color;
}

/***********
 * toolbar *
 ***********/
.toolbar {
	border-style: none;
}

/* primary-toolbar */
.primary-toolbar,
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
	-GtkWidget-window-dragging: true;

	background-image: -gtk-gradient (linear, left top, left bottom,
		from (@toolbar_gradient_base),
		to (@toolbar_gradient_final));
	border-color: shade (@toolbar_border, 1.0);
	border-style: solid;
	border-width: 0 0 1px 0;
	padding: 2px;

	color: @fg_color;
	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

	-unico-border-gradient: none;
	-unico-inner-stroke-width: 0;
}

.primary-toolbar :insensitive {
	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);
}

.primary-toolbar GtkComboBox,
.primary-toolbar .button *,
.primary-toolbar .button {
	background-color: @transparent;
	background-image: none;
	border-radius: 2px;
	border-width: 1px;
	border-color: @transparent;

	color: @fg_color;
	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

	-unico-focus-border-radius: 2;
	-unico-focus-border-color: alpha (@selected_bg_color, 0.5);
	-unico-focus-fill-color: alpha (@selected_bg_color, 0.2);
	-unico-focus-outer-stroke-color: @transparent;

	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;
}

.primary-toolbar .raised .button,
.primary-toolbar .raised.button,
.primary-toolbar .button:hover,
.primary-toolbar .button:active,
.primary-toolbar .button:insensitive {
	border-width: 1px;

	-unico-focus-border-radius: 2;
	-unico-focus-fill-color: @transparent;
	-unico-focus-border-color: @transparent;
	-unico-focus-outer-stroke-color: alpha (@selected_bg_color, 0.5);

	-unico-inner-stroke-width: 1px;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.05)),
		to (alpha (shade (@bg_color, 0.05), 0.09)));
	-unico-outer-stroke-width: 1px;
	color: @fg_color;
}

.primary-toolbar .raised .button:hover,
.primary-toolbar .raised.button:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.2)),
		to (shade (@button_bg_color, 1.04)));
}

.primary-toolbar .raised .button:focus,
.primary-toolbar .raised.button:focus,
.primary-toolbar .button:hover:focus,
.primary-toolbar .button:active:focus,
.primary-toolbar .button:insensitive:focus {
	-unico-focus-border-color: alpha (@selected_bg_color, 0.7);
	-unico-focus-fill-color: @transparent;
	-unico-focus-outer-stroke-color: alpha (@selected_bg_color, 0.2);
	color: @fg_color;
}

.primary-toolbar GtkComboBox.combobox-entry .button {
	-unico-inner-stroke-width: 1px;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 1.2), 0.25)),
		to (alpha (shade (@bg_color, 1.4), 0.75)));
}

.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar .raised .button,
.primary-toolbar .raised.button,
.primary-toolbar .button:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.1)),
		to (shade (@button_bg_color, 0.95)));
	border-style: solid;
	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);
	-unico-glow-radius: 0;
	-unico-inner-stroke-width: 1px 1px 0 1px;
	-unico-outer-stroke-width: 1px;
	color: @fg_color;
}

.primary-toolbar .button:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.9)),
		to (shade (@bg_color, 0.85)));
	color: @fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.6)),
		to (shade (@bg_color, 0.6)));
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (@button_bg_color, 0.0)),
		to (shade (@button_bg_color, 1.02)));
	-unico-glow-radius: 0;
	-unico-inner-stroke-color: shade (@bg_color, 0.8);
	-unico-inner-stroke-width: 1px 1px 0 1px;
	-unico-outer-stroke-width: 1px;
	-unico-focus-outer-stroke-color: @transparent;
}

.primary-toolbar .button:active:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.95)),
		to (shade (@bg_color, 0.9)));
	color: @fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.6)),
		to (shade (@bg_color, 0.6)));
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (@button_bg_color, 0.0)),
		to (shade (@button_bg_color, 1.02)));
	-unico-inner-stroke-color: shade (@bg_color, 0.85);
	-unico-inner-stroke-width: 1px 1px 0 1px;
	-unico-outer-stroke-width: 1px;
	-unico-focus-outer-stroke-color: @transparent;
}

.primary-toolbar .button:active:insensitive,
.primary-toolbar .button:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.04)),
		to (shade (@button_insensitive_bg_color, 0.96)));

	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 0.8)),
		to (shade (@button_insensitive_bg_color, 0.8)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.08)),
		to (shade (@button_insensitive_bg_color, 1.0)));
}

.primary-toolbar .button:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (alpha (@button_insensitive_bg_color, 0.00)),
		to (alpha (@button_insensitive_bg_color, 0.00)));

	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

	border-width: 0;
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;
	-unico-border-gradient: none;
	-unico-inner-stroke-gradient: none;
}

.primary-toolbar .button:active:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 1.0)),
		to (shade (@button_insensitive_bg_color, 0.97)));

	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 0.95)),
		to (shade (@button_insensitive_bg_color, 0.98)));
	-unico-inner-stroke-width: 1px 1px 0 1px;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (@button_bg_color, 0.0)),
		to (shade (@button_bg_color, 1.02)));
	-unico-outer-stroke-width: 1px;
	border-width: 1px;
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_insensitive_bg_color, 0.7)),
		to (shade (@button_insensitive_bg_color, 0.8)));
}

.primary-toolbar .entry,
.primary-toolbar .entry:active,
.primary-toolbar .entry:focused {
	border-radius: 2px;

	color: @text_color;

	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.85), 0.2)),
		to (alpha (shade (@bg_color, 1.18), 0.6)));
	-unico-outer-stroke-width: 0;
}

.primary-toolbar .entry {
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.75)),
		to (shade (@bg_color, 0.95)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.16)),
		to (alpha (shade (@bg_color, 0.05), 0.08)));
}

.primary-toolbar .entry:insensitive {
	-unico-outer-stroke-width: 1px;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 1.2), 0.18)),
		to (alpha (shade (@bg_color, 1.4), 0.5)));
}

.primary-toolbar .entry:focused {
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.75)),
		to (shade (@selected_bg_color, 0.8)));
	-unico-inner-stroke-color: alpha (@selected_bg_color, 0.2);
	-unico-inner-stroke-gradient: none;
}

.primary-toolbar GtkSeparatorToolItem,
.primary-toolbar .separator,
.primary-toolbar .separator:insensitive {
	border-color: alpha (shade (@bg_color, 0.94), 0.0);
	border-style: solid;

	-unico-border-gradient: none;
	-unico-inner-stroke-color: alpha (shade (@bg_color, 1.5), 0.0);
	-unico-inner-stroke-gradient: none;
}

/* inline-toolbar */
.inline-toolbar.toolbar {
	-GtkToolbar-button-relief: normal;

	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@base_color, 0.93)),
		to (shade (@base_color, 0.93)));
	border-radius: 0;
	border-style: solid;
	border-width: 1px;
	padding: 3px 4px 4px 4px;
}

.inline-toolbar.toolbar:nth-child(last) {
	border-bottom-color: shade (@bg_color, 0.76);
	border-color: shade (@bg_color, 0.8);
	border-radius: 0;
	border-width: 0 1px 1px 1px;
}

.inline-toolbar.toolbar .button {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.1)),
		to (shade (@button_bg_color, 0.95)));
	border-radius: 0;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	padding: 1px;

	icon-shadow: 0 1 shade (@bg_color, 1.16);

	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.16)),
		to (shade (@bg_color, 0.98)));
	-unico-outer-stroke-width: 0;
}

.inline-toolbar.toolbar .button *:active,
.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:active,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
	-unico-outer-stroke-width: 0;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.02)),
		to (alpha (shade (@bg_color, 0.05), 0.06)));
}

.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.02)),
		to (shade (@bg_color, 0.98)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.85)),
		to (shade (@bg_color, 0.8)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 1.16)),
		to (shade (@bg_color, 1.0)));
}

.inline-toolbar.toolbar .button:nth-child(first),
.inline-toolbar.toolbar GtkToolButton:nth-child(first) .button {
	border-radius: 2px 0 0 2px;

	-unico-outer-stroke-width: 0;
}

.inline-toolbar.toolbar .button:nth-child(last),
.inline-toolbar.toolbar GtkToolButton:nth-child(last) .button {
	border-radius: 0 2px 2px 0;
	border-width: 1px;

	-unico-outer-stroke-width: 0;
}

/***********
 * tooltip *
 ***********/
.tooltip {
	background-color: @tooltip_bg_color;
	border-color: shade (@tooltip_bg_color, 0.7);
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;

	color: @tooltip_fg_color;
}

.tooltip * {
	background-color: @transparent;
}

/************
 * treeview *
 ************/
GtkTreeView.dnd {
	border-color: shade (@selected_bg_color, 1.12);
	border-radius: 0;
	border-width: 0;
	border-style: solid;

	-unico-outer-stroke-color: @transparent;
	-unico-outer-stroke-width: 1px;
}

GtkTreeView .entry {
	background-image: none;
	border-radius: 0;

	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 1px;
}

GtkTreeView row:nth-child(even),
GtkTreeView row:nth-child(even):hover {
	background-color: shade (@base_color, 0.97);
}

GtkTreeView row:nth-child(odd),
GtkTreeView row:nth-child(odd):hover {
	background-color: shade (@base_color, 1.0);
}

/************
 * viewport *
 ************/
GtkViewport.frame {
	border-width: 0;
	-unico-inner-stroke-width: 0;
}

/* Makes some applications look strange (gnome-tweak-tool for example.) */
/* But since the default Adwaita theme has it I'll add it here too to avoid dark gray backgrounds. */
GtkViewport,
GtkIconView {
	background-color: @base_color;
}
